################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodHub.Web.Main/obj
/FoodHub.Web.Main/bin
/.vs
/FoodHub.UserManagement/obj
/FoodHub.UserManagement/bin
/FoodHub.OrderManagement/obj
/FoodHub.OrderManagement/bin
